$primaryColor: darkgreen; 
$secondaryColor: darkred;
$accentColor: green;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;